# Programowanie w Jzykach Skryptowych (Laboratorium 4)
## Pandas

### Przesyanie zada

Wszystkie pliki nale偶y spakowa archiwizatorem **zip** i przesa za porednictwem platformy WIKAMP. Poni偶ej oczekiwana zawarto archiwum (zamie zmienne `imie` oraz `nazwisko` na odpowiednie wartoci):

```
+--  [imie].[naziwsko].zip
    +--  Laboratorium 4 - pandas.ipynb
    +--  Najpopularniejsze-imiona-w-Polsce-w-latach-2000-2017.csv
```

## Zadanie 0 (0 pkt)

Wczytaj do `DataFrame` plik CSV z narodzinami dzieci w Polsce:
`Najpopularniejsze-imiona-w-Polsce-w-latach-2000-2017.csv`.

In [1]:
import pandas as pd
df = pd.read_csv('Najpopularniejsze-imiona-w-Polsce-w-latach-2000-2017.csv', encoding='ISO-8859-2', sep=';')
df = df.sort_values('Rok')

## Zadanie 1
Wywietl najpopularniejsze imi (i liczb) dla ka偶dego rocznika.

In [2]:
df.loc[df.groupby('Rok')['Liczba'].idxmax()][['Rok', 'Imie', 'Liczba']]

        Rok     Imie  Liczba
0      2000    JAKUB   14497
796    2001    JAKUB   18612
1597   2002    JAKUB   18018
2389   2003    JAKUB   16429
3207   2004    JAKUB   16431
4059   2005    JAKUB   15802
4919   2006    JAKUB   15756
5820   2007    JAKUB   16118
7259   2008    JULIA   17399
8258   2009    JULIA   16010
9256   2010    JULIA   15445
10239  2011    JULIA   13814
11230  2012    JULIA   14287
12200  2013     LENA   11411
13171  2014     LENA   10610
14167  2015  ZUZANNA    9542
14680  2016   ANTONI    9447
15593  2017   ANTONI    9794

## Zadanie 2
Wywietl, kt贸re imi dziewczynki i kt贸re chopca jest najbardziej popularne cznie (kierujemy si
sum wystpie),

In [3]:
print(f"Najbardziej popularne imi dziewczynki: {df[df['Plec'] == 'K'].groupby('Imie')['Liczba'].sum().idxmax()}")
print(f"Najbardziej popularne imi chopca    : {df[df['Plec'] == 'M'].groupby('Imie')['Liczba'].sum().idxmax()}")

Najbardziej popularne imi dziewczynki: JULIA
Najbardziej popularne imi chopca    : JAKUB

## Zadanie 3
Wywietl, kt贸re imiona (pe dowolna) wystpiy co najmniej 1000 razy rocznie w co najmniej 10 latach.

In [4]:
(df[df['Liczba'] > 1000].groupby('Imie').count() >= 10).index.to_list()

['ADAM',
 'ADRIAN',
 'AGATA',
 'AGNIESZKA',
 'ALAN',
 'ALEKSANDER',
 'ALEKSANDRA',
 'ALICJA',
 'AMELIA',
 'ANASTAZJA',
 'ANGELIKA',
 'ANNA',
 'ANTONI',
 'ANTONINA',
 'ARKADIUSZ',
 'ARTUR',
 'BARBARA',
 'BARTOSZ',
 'BARTOMIEJ',
 'BLANKA',
 'BORYS',
 'BRUNO',
 'BA呕EJ',
 'DAMIAN',
 'DANIEL',
 'DARIA',
 'DAWID',
 'DOMINIK',
 'DOMINIKA',
 'EMILIA',
 'ERYK',
 'EWA',
 'EWELINA',
 'FABIAN',
 'FILIP',
 'FRANCISZEK',
 'GABRIEL',
 'GABRIELA',
 'GRZEGORZ',
 'HANNA',
 'HELENA',
 'HUBERT',
 'IGA',
 'IGNACY',
 'IGOR',
 'IZABELA',
 'JAGODA',
 'JAKUB',
 'JAN',
 'JOANNA',
 'JULIA',
 'JULIAN',
 'JUSTYNA',
 'KACPER',
 'KAJA',
 'KAMIL',
 'KAMILA',
 'KAROL',
 'KAROLINA',
 'KATARZYNA',
 'KINGA',
 'KLARA',
 'KLAUDIA',
 'KLAUDIUSZ',
 'KONRAD',
 'KORNELIA',
 'KRYSTIAN',
 'KRZYSZTOF',
 'KSAWERY',
 'LAURA',
 'LENA',
 'LEON',
 'LILIANA',
 'LILIANNA',
 'MACIEJ',
 'MAGDALENA',
 'MAJA',
 'MAKSYMILIAN',
 'MARCEL',
 'MARCELINA',
 'MARCIN',
 'MAREK',
 'MARIA',
 'MARTA',
 'MARTYNA',
 'MATEUSZ',
 'MAGORZATA',
 'MICHALINA',
 'MICHA',
 'MIKOAJ',
 'MILENA',
 'MIOSZ',
 'MONIKA',
 'NADIA',
 'NATALIA',
 'NATAN',
 'NELA',
 'NIKODEM',
 'NIKOLA',
 'NINA',
 'OLAF',
 'OLIWIA',
 'OLIWIER',
 'OSKAR',
 'PATRYCJA',
 'PATRYK',
 'PAULINA',
 'PAWE',
 'PIOTR',
 'POLA',
 'PRZEMYSAW',
 'RADOSAW',
 'RAFA',
 'ROBERT',
 'ROKSANA',
 'SANDRA',
 'SARA',
 'SEBASTIAN',
 'STANISAW',
 'SYLWIA',
 'SZYMON',
 'TOMASZ',
 'TYMON',
 'TYMOTEUSZ',
 'WERONIKA',
 'WIKTOR',
 'WIKTORIA',
 'WOJCIECH',
 'ZOFIA',
 'ZUZANNA',
 'UCJA',
 'UKASZ']

## Zadanie 4
Wywietl:
* w kt贸rym roku chopcy mieli najwy偶szy odsetek urodzin (np. 51.7%) 
* i w kt贸rym roku dziewczynki. 

Podaj te odsetki.

In [5]:
df3_1 = df.groupby('Rok')['Liczba'].sum()
df3_2 = pd.DataFrame({
    'M': df[df['Plec'] == 'M'].groupby('Rok')['Liczba'].sum() / df3_1,
    'K': df[df['Plec'] == 'K'].groupby('Rok')['Liczba'].sum() / df3_1
})
print(df3_2)
print("\nOdpowiedzi:")
print(f"Chopcy mieli najwy偶szy odsetek ({round(100*df3_2['M'].max(), 2)}%) urodzin w roku {df3_2['M'].idxmax()}.")
print(f"Dziewczynki miay najwy偶szy odsetek ({round(100*df3_2['K'].max(), 2)}%) urodzin w roku {df3_2['K'].idxmax()}.")

             M         K
Rok
2000  0.513165  0.486835
2001  0.513334  0.486666
2002  0.513608  0.486392
2003  0.512906  0.487094
2004  0.513919  0.486081
2005  0.512912  0.487088
2006  0.513239  0.486761
2007  0.512697  0.487303
2008  0.512134  0.487866
2009  0.512281  0.487719
2010  0.514268  0.485732
2011  0.514328  0.485672
2012  0.514423  0.485577
2013  0.513277  0.486723
2014  0.513704  0.486296
2015  0.513691  0.486309
2016  0.513370  0.486630
2017  0.513637  0.486363

Odpowiedzi:
Chopcy mieli najwy偶szy odsetek (51.44%) urodzin w roku 2012.
Dziewczynki miay najwy偶szy odsetek (48.79%) urodzin w roku 2008.

## Zadanie 5

Wywietl ile imion (pe dowolna) z roku 2017 wystpio po raz pierwszy.

In [6]:
nie_2017 = df[df['Rok'] != 2017]['Imie'].unique()
df_2017 = df[df['Rok'] == 2017]
ile = df_2017[~df_2017['Imie'].isin(nie_2017)]['Imie'].count()
print(f'W 2017 roku pojawio si {ile} nowych imion.')

W 2017 roku pojawio si 7 nowych imion.

## Zadanie 6

Napisz skypt kt贸ry ze strony http://programy.p.lodz.pl/ectslabel-web pobierze przedmioty z drugiego semestru (dowolna specjalno) dla kierunku Informatyka (studia zaoczne).

Wywietl list zawierajc kolumny:
* **Kod przedmiotu**
* Nazwa przedmiotu w jzyku polskim jako **Nazwa**
* **ECTS** (liczba punkt贸w)

Nie wywietlaj wiersza z zsumowanymi wartociami kolumn.

> Wskaz贸wka: Mo偶esz wykorzysta metod `read_html` z bibliteki `pandas`. Zwr贸 uwag na parametr `match`.

> Wskaz贸wka 2: Aby adnie wywietli mo偶esz u偶y metody `to_markdown` (na obiekcie `DataFrame`).

> **Uwaga**: wymagane paczki: `pip install lxml tabulate`

Przykadowy wynik:
```
| Kod przedmiotu         | Nazwa                                                   |   ECTS |
|:-----------------------|:--------------------------------------------------------|-------:|
| 02 01 6241 01          | Matematyczne metody optymalizacji                       |      5 |
| 02 57 6202 01          | Matematyczne metody w grafice komputerowej              |      3 |
| 02 58 6148 01          | Narzdzia sztucznej inteligencji w przetwarzaniu danych |      4 |
| 02 59 6312 01          | Silniki baz danych                                      |      5 |
| 02 63 6343 01          | Projektowanie system贸w informatycznych                  |      3 |
| 02 96 6214 01          | Projekt zespoowy                                       |      6 |
| 22 91 0630 19          | Jzyk obcy n. do cel贸w naukowych                        |      2 |
| Przedmioty obieralne 2 | Inf, II nst. 2022 - Przedmioty obieralne sem.2          |      2 |
```

In [5]:
import pandas as pd
from IPython import display

res = pd.read_html(
    'http://programy.p.lodz.pl/ectslabel-web/kierunekSiatkaV4.jsp?l=pl&w=informatyka.&pkId=1673&p=7633&stopien=studia%20drugiego%20stopnia&tryb=studia%20niestacjonarne&v=4'
#     , attrs = {'class': 'tabela'}
    , encoding = 'utf-8'
    , keep_default_na = False
    , na_values = ''
    , match = 'Przedmioty obieralne sem.2'
)



display.display(*[display.Markdown(r.rename(columns={'Nazwa przedmiotu w jzyku polskim': 'Nazwa'})[['Kod przedmiotu', 'Nazwa', 'ECTS']].iloc[0:-1].to_markdown()) for r in res])

for r in res:
    print(r.rename(columns={'Nazwa przedmiotu w jzyku polskim': 'Nazwa'})[['Kod przedmiotu', 'Nazwa', 'ECTS']].iloc[0:-1].to_markdown(index=False))

|    | Kod przedmiotu         | Nazwa                                                   |   ECTS |
|---:|:-----------------------|:--------------------------------------------------------|-------:|
|  0 | 02 01 6241 01          | Matematyczne metody optymalizacji                       |      5 |
|  1 | 02 57 6202 01          | Matematyczne metody w grafice komputerowej              |      3 |
|  2 | 02 58 6148 01          | Narzdzia sztucznej inteligencji w przetwarzaniu danych |      4 |
|  3 | 02 59 6312 01          | Silniki baz danych                                      |      5 |
|  4 | 02 63 6343 01          | Projektowanie system贸w informatycznych                  |      3 |
|  5 | 02 96 6214 01          | Projekt zespoowy                                       |      6 |
|  6 | 22 91 0630 19          | Jzyk obcy n. do cel贸w naukowych                        |      2 |
|  7 | Przedmioty obieralne 2 | Inf, II nst. 2022 - Przedmioty obieralne sem.2          |      2 |

| Kod przedmiotu         | Nazwa                                                   |   ECTS |
|:-----------------------|:--------------------------------------------------------|-------:|
| 02 01 6241 01          | Matematyczne metody optymalizacji                       |      5 |
| 02 57 6202 01          | Matematyczne metody w grafice komputerowej              |      3 |
| 02 58 6148 01          | Narzdzia sztucznej inteligencji w przetwarzaniu danych |      4 |
| 02 59 6312 01          | Silniki baz danych                                      |      5 |
| 02 63 6343 01          | Projektowanie system贸w informatycznych                  |      3 |
| 02 96 6214 01          | Projekt zespoowy                                       |      6 |
| 22 91 0630 19          | Jzyk obcy n. do cel贸w naukowych                        |      2 |
| Przedmioty obieralne 2 | Inf, II nst. 2022 - Przedmioty obieralne sem.2          |      2 |